@{
    ViewBag.Title = "Home Page";
}

<ul id="messages">
</ul>

<input type="text" name="txtMessage" id="txtMessage" />
<button id="buttonSubmit">Submit</button>

<!-- create signalr proxy here -->
<script type="text/javascript" src="/SignalR/Hubs"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // create signalR connection
        var chat = $.connection.chat;

        // wire up signalR client methods
        chat.addMessage = function (message) {
            $("#messages").append("<li>" + message + "</li>");
        };

        // start hub connection
        $.connection.hub.start();









        $("#buttonSubmit").click(function () {
            // wire up button click here
            chat.broadcastMessage($("#txtMessage").val()).fail(function (error) {
                alert(error);
            });
        });
    });
</script>