@{
    ViewBag.Title = "The Final Showdown";
}
<table width="100%">
    <tr>
        <td>
            <button id="buttonCake">
                VOTE CAKE</button>
        </td>
        <td>
            <div id="pieChartVotes">
            </div>
        </td>
        <td>
            <button id="buttonPie">
                VOTE PIE</button>
        </td>
    </tr>
</table>
<style type="text/css">
    #pieChartVotes
    {
        width: 756px;
        height: 475px;
    }
</style>
<script type="text/javascript" src="/SignalR/Hubs"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var hub = $.connection.voteHub;

        hub.updateVotes = function (seriesList) {
            $("#pieChartVotes").wijpiechart("option", "seriesList", seriesList);
        };

        $("#pieChartVotes").wijpiechart({
            radius: 200,
            showChartLabels: false,
            header: {
                text: "Cake vs Pie"
            }
            ,
            hint: {
                content: function () {
                    return this.data.label + " : " + Globalize.format(this.value / this.total, "p2");
                }
            },
            seriesList: []
        });

        $("#buttonPie").click(function () {
            hub.vote("Pie");
        });
        $("#buttonCake").click(function () {
            hub.vote("Cake");
        });

        $.connection.hub.start().done(function () {
            hub.preload();
        });
    });

</script>
